.infoSection01__root {
    position: relative;
    padding: 20vh 10vw;
    display: flex;
    align-items: center;
    background-color: var(--color-main);
    z-index: var(--z-section);
}

.infoSection01__heading {
    width: 100%;
    
    text-align: center;
    font-size: 12vw;
    font-weight: 900;
    color: #0001;
}