:root {
    --discover-button-overlay-right: 100%;
}

.discover-button__root {
    display: flex;
    flex-direction: row;
    position: relative;
}

.discover-button__root:hover {
    --discover-button-overlay-right: 0;
}

.discover-button__description {
    background-color: var(--color-accent);
    padding: 40px;
    padding-left: 60px;

    border-radius: 20px 0 0 20px;
}
.discover-button__description h1 {

}

.discover-button__description h4 {
    font-weight: 300;
}

.discover-button__navigate {
    position: absolute;
    top: 0px;
    left: 99%;
    bottom: 0px;
    width: 50px;
    background-color: var(--color-accent);
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 20px 20px 0;
}

.discover-button__navigate > svg {
    width: 20px;
    height: auto;
}

.discover-button__overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: var(--discover-button-overlay-right);

    display: flex;
    margin: auto;
    background-color: #0005;
    border-radius: 0 20px 20px 0;

    pointer-events: none;

    transition: right 0.25s var(--ease-quart);
}

.discover-button__overlay svg {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .discover-button__root {
        width: 250px;
    }

    .discover-button__description {
        background-color: var(--color-accent);
        padding: 30px;
        padding-right: 20px;
    }
}