:root {
    --navbar-height: 80px;
    --logo-height: 90%;
    --link-underline-width: 0%;
    --border: 1px solid var(--color-border);
}

.navbar__root {
    background-color: var(--color-accent-opaque);
    position: sticky;
    display: flex;
    margin: auto;
    height: var(--navbar-height);
    width: 100%;
    border-bottom: var(--border);
    font-weight: 100;
    z-index: var(--z-navbar);
}

.navbar__links-button {
    display: none;
}

.navbar__dropdown {
    display: none;
}

.navbar__logo-container {
    position: relative;
    width: 400px;
    margin: 20px;
    pointer-events: none;
}

.navbar__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: auto;
    max-width: 500px;
    min-width: 200px;
    fill: var(--color-main);
}

.navbar__links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar__links li {
    height: 100%;
    border-left: var(--border);
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar__links li:last-child{
    border-right: var(--border);
}

.navbar__links a {
    position: relative;
    padding: 10px;
    cursor: pointer;
    font-size: calc(16px);
}

.underline{
    position: absolute;
    bottom: 8px;
    left: 0.5rem;
    height: 1px;
    background-color: var(--color-main);
    width: var(--link-underline-width);
    transition: width 0.5s ease;
}

.navbar__links a:hover{
    --link-underline-width: calc(100% - 1rem);
}

.navbar__spacer{
    flex: 1;
}

.navbar__language {
    display: flex;
    border-left: var(--border);
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.navbar__language img{
    cursor: pointer;
    margin: 20px;
    min-width: 30px;
}

.navbar__quote {
    display: flex;
    margin: auto;
    color:white;
    border-left: var(--border);
    min-width: 100px;
    height: 100%;
}

.navbar__quote-button {
    margin: auto;
    padding: 10px;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
    
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .navbar__root * {
        /*
        background-color: #0005;
        */
    }

    .navbar__logo-container {
        width: calc(100% - 100px);
    }

    .navbar__links-button, .navbar__dropdown-links-button{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        height: 100%;
        aspect-ratio: 1/1;
    }
    
    .navbar__links-button svg, .navbar__dropdown-links-button svg {
        width: 30px;
        height: 30px;
    }

    .navbar__dropdown{
        position: fixed;
        display: initial;
        width: 100%;
        height: 100vh;
        left: 0px;
        top: 0px;
        z-index: var(--z-navbar);
        background-color: var(--color-accent);
    }

    .navbar__dropdown-top {
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100%;
        height: var(--navbar-height);
    }

    .navbar__dropdown-logo-container {
        position: relative;
        height: 100%;
        width: calc(100% - var(--navbar-height)/2);
        margin-top: calc(0px - var(--navbar-height));
        margin-left: calc(var(--navbar-height)/2);
        /*
        */
        pointer-events: none;
    }

    .navbar__dropdown-links-list {
        display:flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: var(--navbar-height);

        border-top: 2px solid grey;

        width: 100vw;
        height: 85vh;

        text-align: center;
    }

    .navbar__dropdown-links-list li {
        height: 20%;
        display: flex;
        align-items: center;
        font-size: 50px;
    }

    .navbar__dropdown-links-list a {
        position: relative;
        padding: 30px;
    }

    .navbar__dropdown-links-list li a:hover {
        --link-underline-width: calc(100% - 60px);
    }

    .navbar__dropdown-links-list li div {
        bottom: 30px;
        left: 30px;
        width: var(--link-underline-width);
    }

    .navbar__quote, .navbar__spacer, .navbar__language, .navbar__links {
        display: none;
    }
}