:root {
    --navbar-height: 5.5vw;
    --logo-container-width: 16.3vw;
    --link-underline-width: 0%;
    --border: 1px solid var(--color-border);
    --font-size: 0.8vw;
    --font-spacing: 0.1vw;
    --link-margin: 0.5vw;

    --language-tab-bottom: 100%;
    --language-hover-font-color: black;
}

.navbar__root {
    position: sticky;
    height: var(--navbar-height);
    width: 100%;
    display: flex;
    margin: auto;
    border-bottom: var(--border);

    z-index: var(--z-navbar);
}

.navbar__content-centering {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__links-button {
    display: none;
}

.navbar__dropdown {
    display: none;
}

.navbar__logo-container {
    position: relative;
    width: var(--logo-container-width);
    padding: 0 3vw;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__logo {
    width: 100%;
    height: 100%;
    fill: var(--color-main);
}

.navbar__links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__links li {
    height: 100%;
    display: flex;
    align-items: center;
    border-left: var(--border);

    font-size: var(--font-size);
    font-weight: 100;
    text-align: center;
    letter-spacing: var(--font-spacing);

}

.navbar__links li:last-child{
    border-right: var(--border);
}

.navbar__links a, .navbar__quote a, .navbar__links a:visited, .navbar__quote a:visited {
    position: relative;
    margin: var(--link-margin);
    cursor: pointer;
    color: var(--color-main);
}

.underline{
    position: absolute;
    bottom: -3px;
    height: 1px;
    background-color: var(--color-main);
    width: var(--link-underline-width);
    transition: width 0.5s ease;
}

.navbar__links a:hover, .navbar__language-.navbar__language-selector-tab div:hover, .navbar__quote a:hover{
    --link-underline-width: 100%;
}

.navbar__language {
    position: relative;

    border-left: var(--border);
    width: 7vw;
}

.navbar__language-chosen {
    flex-direction: row;
    
    height: calc(var(--navbar-height) / 2);

    font-size: var(--font-size);

    color: var(--color-main);

    cursor: pointer;
}

.navbar__language-chosen-flag {
    width: 1vw;
    height: auto;
    margin-left: 0.5vw;
}

.navbar__language-selector-tab {
    position: absolute;
    bottom: var(--language-tab-bottom);
    left: 0px;
    right: 0px;

    height: fit-content;

    flex-direction: column;

    background-color: var(--color-main);
    border-radius: 0 0 10px 10px;

    transition: bottom 0.25s ease-out;
}

.navbar__language:hover {
    --language-tab-bottom: 0%;
}

.navbar__language-selector-tab div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    height: calc(var(--navbar-height) / 2);

    font-size: var(--font-size);

    color: var(--language-hover-font-color);

    cursor: pointer;
}
.navbar__language-selector-tab div:hover {
    --language-hover-font-color: grey;
}

.navbar__language-selector-tab hr {
    width: 70%;
    background-color: var(--color-border);
}

.navbar__language-selector-tab img {
    height: var(--font-size);
    margin-left: 1vw;
}

.navbar__quote {
    border-left: var(--border);
    padding: 0 2vw;
}

.navbar__quote-button {
    cursor: pointer;
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 400;
}

/*
----------
----------
----------
----------
----------
*/

@media screen and (max-width: 900px) {

    :root {
        --navbar-height: 21.5vw;
        --font-size: 3vw;
    }
    
    .navbar__logo-container {
        flex: 1;
    }

    .navbar__language, .navbar__quote {
        width: 12vw;
        border: none;
    }

    .navbar__language-chosen {
        height: 100%;
        width: 100%;

        font-weight: 400;
    }

    .navbar__language-chosen-flag {
        width: 3vw;
        margin-left: 1vw;
    }
    
    .navbar__quote {
        width: 20vw;
    }
    
    .navbar__quote-button {
        font-size: var(--font-size);
    }

    .navbar__links-button, .navbar__dropdown-links-button{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        height: 100%;
        aspect-ratio: 1/1;
    }
    
    .navbar__links-button svg, .navbar__dropdown-links-button svg {
        width: 10vw;
        height: auto;
    }

    .navbar__dropdown{
        position: fixed;
        display: initial;
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;
        z-index: var(--z-navbar);
        background-color: var(--color-accent);
    }

    .navbar__dropdown-top {
        position: absolute;
        left: 0;
        top: 0;
        
        width: 100vw;
        height: var(--navbar-height);
    }

    .navbar__dropdown-logo-container {
        position: relative;
        flex: 1;
        margin-top: calc(0px - var(--navbar-height)/2);
        margin-right: 5vw;
        margin-left: var(--navbar-height);
        transform: translateY(-50%);
        /*
        */
        pointer-events: none;
    }

    .navbar__dropdown-links-list {
        display:flex;
        flex-direction: column;
        align-items: flex-start;

        margin-top: var(--navbar-height);

        border-top: 2px solid grey;

        width: 100vw;
        height: 85vh;

        text-align: center;
    }

    .navbar__dropdown-links-list li {
        height: 20%;
        display: flex;
        align-items: center;
        font-size: 50px;
    }

    .navbar__dropdown-links-list a {
        position: relative;
        padding: 30px;
    }

    .navbar__dropdown-links-list li a:hover {
        --link-underline-width: calc(100% - 60px);
    }

    .navbar__dropdown-links-list li div {
        bottom: 30px;
        left: 30px;
        width: var(--link-underline-width);
    }

     .navbar__spacer, .navbar__links {
        display: none;
    }
}