.products__root {
    position: relative;
    background-color: var(--color-main);
    z-index: var(--z-section);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 900px) {
    .products__root {
        grid-template-columns: repeat(1, 1fr);
    }
}