.products__root {
    position: relative;
    background-color: var(--color-main);
    z-index: var(--z-products);
}

.products__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.products__top-straggler {
    display: none;
}

@media screen and (max-width: 700px) {
    .products__top {
        grid-template-columns: repeat(1, 1fr);
    }

    .products__top-straggler {
        display: initial;
    }

    .products__bottom {
        display: none;
    }
}